html, body {
  height: 100%;
  width: 100%;
  font-family: Niramit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0; }

#app {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 0 auto; }
  #app div#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0 auto; }
    #app div#loader-container > div.loader {
      animation: spin 1.5s infinite;
      border: 20px solid #f3f3f3;
      border-radius: 100%;
      border-top: 20px solid #00ffff;
      margin-bottom: 1em;
      height: 150px;
      width: 150px; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  #app main {
    width: 100%;
    padding: 20px; }
    #app main > * {
      margin-bottom: 20px; }
  #app select {
    border: none;
    font-size: 1.2em;
    height: 100%;
    padding: .5em; }
    #app select.icon_list {
      width: 45%; }
  #app select, #app option {
    font-family: Niramit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  #app section.func_buttons {
    text-align: center; }
  #app button {
    border: 1px #006666 solid;
    border-radius: 7px;
    background: rgba(0, 255, 255, 0.58);
    font-family: Niramit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    cursor: pointer; }
  #app main {
    overflow: auto; }
  #app .text-warning {
    color: red; }
  #app .status-text {
    overflow-wrap: break-word;
    text-align: center; }
    #app .status-text > *:not(:last-child)::after {
      color: black;
      display: inline-block;
      font-size: 2em;
      margin-left: 10px;
      content: "||"; }
    #app .status-text > *:not(:first-child) {
      margin-left: 10px; }
  #app .selected-icon-grid {
    align-content: space-around;
    display: grid;
    grid-auto-rows: 75px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    margin: 2em; }
  #app .selected-icon-grid > .selected-icon {
    transition: .2s; }
    #app .selected-icon-grid > .selected-icon input.select-checkbox[type="checkbox"] {
      display: none; }
    #app .selected-icon-grid > .selected-icon label {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: .1s;
      cursor: pointer;
      background: #00ffff;
      box-shadow: 3px 3px 7px black;
      border-radius: 5px; }
    #app .selected-icon-grid > .selected-icon input.select-checkbox[type="checkbox"]:checked + label {
      background: #006666;
      color: white;
      transform: scale(0.925); }
  @media screen and (max-width: 500px) {
    #app {
      display: unset; }
      #app select.icon_list {
        height: 50%; }
      #app main {
        padding: 0; } }
  @media screen and (max-width: 800px) {
    #app select.icon_list {
      width: 100%; }
    #app .status-text span {
      display: block; }
    #app .status-text :not(:last-child)::after {
      content: unset; } }

/*# sourceMappingURL=main.css.map */
