#loader-container {
    $circle-length: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    > .loader {
        animation: spin 1.5s infinite;
        border: 20px solid #f3f3f3;
        border-radius: 100%;
        border-top: 20px solid $selected-color;
        margin-bottom: 1em;

        height: $circle-length;
        width: $circle-length;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.confirm_screen {
    align-items: center;
    background: rgba(0,0,0,0.6);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    > .confirm_btn_container {
        background: darken($selected-color_rm, 5%);
        border: 4px white solid; 
        border-radius: 10px;
        padding: 2em;
        font-size: 1.5rem;

        > .confirm_text {
            color: white;
            text-shadow: 3px 5px 7px black;
        }

        > .confirm_btns {
            display: flex;
            justify-content: space-between;

            > button {
                background: $selected-color_rm;
                color: white;
                box-shadow: 3px 4px 7px black;
            }
        }

        @media screen and (max-width: $on-between) {
            font-size: 1.2rem;
            padding: 1em;

            > .confirm_btns {
                flex-flow: column nowrap;
                > button {margin: 1em;}
            }
        }
    }
}

#app {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin: 0 auto;

    aside {
        width: 45%;
    }

    main {
        display: flex;
        flex-flow: column nowrap;
    }

    section.func_buttons {
        $forward_action_color: green;
        $delete_action_color: darkred;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;

        > button:not(#toggle-btn) {
            width: 50%;
            margin: .25em 0;
            border: none;
        }

        > button.forward_action {
            background: $forward_action_color;
            color: white;
        }

        > button.compile_action {
            background: darken($forward_action_color, 10%);
            color: white;
        }

        > button.delete_action {
            background: $delete_action_color;
            color: white;
        }
    }

    #toggle-btn {
        display: none;
    }

    ul {
        background: peachpuff;
        border: dashed;
        margin: 0 auto;
        margin-bottom: 1em;
        padding: 2em;

        &.desktop-desc {display: block;}
        &.mobile-desc {display: none;}
    }
    

    .text-warning {
        color: red;
    }

    .icon_datalist_input {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .status-text {
        overflow-wrap: break-word;
        text-align: center;

        > *:not(:last-child)::after {
            color: black;
            display: inline-block;
            font-size: 2em;
            margin-left: $base-space / 2;
            content: "||";
        }

        > *:not(:first-child) {
            margin-left: $base-space / 2;
        }
    }

    select.icon_list {
        width: 100%;
        z-index: 1;
    }
    
    .selected-icon-grid {
        align-content: space-around;
        display: grid;
        grid-auto-rows: 75px;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        justify-content: center;
        margin: 2em;
        padding-bottom: 2em;
    }
    
    .selected-icon-grid > .selected-icon {
        transition: .2s;

        input.select-checkbox[type="checkbox"] {
            display: none;
        }

        label {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transition: .1s;
            cursor: pointer;
            background: $selected-color;
            box-shadow: 3px 3px 7px black;
            border-radius: 5px;
        }

        input.select-checkbox[type="checkbox"]:checked + label {
            background: $selected-color_rm;
            color: white;
            transform: scale(.925);
        }
    }

    @media screen and (max-width: $on-palm) {
        display: unset;

        section.func_buttons {
            > button:not(#toggle-btn) {
                width: 90%;
            }
        }

        aside {
            width: 100%
        }

        select.icon_list {
            height: 100%;
            position: fixed;
            right: 100%;
            transition: 1s;

            &.toggled {
                right: 0%;
            }
        }

        #toggle-btn {
            background: $selected-color_rm;
            border: 2px white solid;
            color: white;
            display: block;
            right: 0%;
            margin: 1em;
            position: fixed;
            bottom: 0%;
            transition: .3s;
            z-index: 1;

            &:hover {
                background: transparentize($color: $selected-color_rm, $amount: .3);
            }

            &:active {
                background: transparentize($color: $selected-color_rm, $amount: .6);
            }
        }

        main {
            padding: 0;
        }

        ul {margin: 1em; margin-top: 0;}
        ul.desktop-desc {display: none;}
        ul.mobile-desc {display: block;}
    }

    @media screen and (max-width: $on-between) {
        aside {
            width: 60%
        }

        .status-text {
            span {
                display: block;
            }

            :not(:last-child)::after {
                content: unset;
            }
        }

        section.func_buttons {
            > button:not(#toggle-btn) {width: 75%;}
        }
    }
}